@font-face {
  font-family: 'Arial-MT';
  src: url("./assets/fonts/Arial-MT.woff");
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  min-width: 480px;
  min-height: 100vh;
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  color: #fff;
  text-align: center;
  background: url("./assets/img/bg.jpg") center/cover, rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%;
  height: 30vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls,
.controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 160px;
  margin-bottom: 28px;
}

.controls {
  position: relative;
  width: 550px;
}

.current-time {
  position: absolute;
  bottom: -15px;
}

.total-time {
  position: absolute;
  right: 45%;
  top: -13px;
}

.progress,
.sound-range {
  background: -webkit-gradient(linear, left top, right top, from(#C5B358), color-stop(0%, #C5B358), color-stop(0%, #fefefe), to(#fefefe));
  background: linear-gradient(to right, #C5B358 0%, #C5B358 0%, #fefefe 0%, #fefefe 100%);
  height: 8px;
  width: 300px;
  outline: none;
  -webkit-transition: background 450ms ease-in;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
}

.sound-range {
  width: 154px;
  background: -webkit-gradient(linear, left top, right top, from(#C5B358), color-stop(42%, #C5B358), color-stop(42%, #fefefe), to(#fefefe));
  background: linear-gradient(to right, #C5B358 0%, #C5B358 42%, #fefefe 42%, #fefefe 100%);
}

.progress::-webkit-slider-thumb,
.sound-range::-webkit-slider-thumb {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  -webkit-appearance: none;
  cursor: ew-resize;
  background: #fff;
  -webkit-transition: .8s;
  transition: .8s;
}

.progress::-webkit-slider-thumb:hover,
.sound-range::-webkit-slider-thumb:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.sound {
  background-image: url("./assets/svg/btn-sound.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.sound.mute {
  background-image: url("./assets/svg/btn-mute.svg");
}

.play-list {
  text-align: left;
}

.play-item {
  position: relative;
  padding: 10px 10px 10px 35px;
  list-style: none;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.play-item:hover {
  opacity: 1;
}

.play-item button {
  position: absolute;
  left: 0;
  top: 6px;
  background-image: url("./assets/svg/play.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  width: 25px;
  height: 25px;
}

.play-item .pause {
  background-image: url("./assets/svg/pause.svg");
}

.item-active,
.item-active::before {
  color: #C5B358;
}

.player-icon,
.slider-icon,
.change-quote {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: .8;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.player-icon:hover,
.slider-icon:hover,
.change-quote:hover {
  opacity: 1;
}

.player-icon:active,
.slider-icon:active,
.change-quote:active {
  border: 0;
  outline: 0;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url("./assets/svg/play.svg");
}

.pause {
  background-image: url("./assets/svg/pause.svg");
}

.play-prev {
  background-image: url("./assets/svg/play-prev.svg");
}

.play-next {
  background-image: url("./assets/svg/play-next.svg");
}

.weather {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
}

.weather-error {
  margin-top: -10px;
}

.description-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 12px;
          column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::-webkit-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.city:-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.city::-ms-input-placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: .6;
}

.main {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 40vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  cursor: pointer;
}

.slide-prev {
  left: 20px;
  background-image: url("./assets/svg/slider-prev.svg");
}

.slide-next {
  right: 20px;
  background-image: url("./assets/svg/slider-next.svg");
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-family: 'Arial-MT';
  font-size: 100px;
  letter-spacing: -4px;
}

.date {
  min-height: 28px;
  font-size: 24px;
  margin-bottom: 20px;
}

.greeting-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 40px;
}

.greeting {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 10px;
  text-align: right;
}

.name {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 50%;
  padding: 10px;
  font-size: 40px;
  text-align: left;
  color: #fff;
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::-webkit-input-placeholder {
  color: #fff;
  opacity: .6;
}

.name:-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

.name::-ms-input-placeholder {
  color: #fff;
  opacity: .6;
}

.name::placeholder {
  color: #fff;
  opacity: .6;
}

.footer {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 25vh;
  min-height: 160px;
  padding: 20px;
}

.change-quote {
  margin-bottom: 30px;
  background-image: url("./assets/svg/reload.svg");
}

.quote {
  min-height: 32px;
}

.author {
  min-height: 20px;
}

.language {
  position: absolute;
  left: 2%;
}

.language button {
  width: 45px;
  height: 45px;
  background-color: #fff;
  font-size: 20px;
}

.language button.active {
  background-color: #8a8282;
}

.language button:hover {
  cursor: pointer;
  border-color: black;
}

.relax {
  position: absolute;
  bottom: 68%;
  right: 2%;
}

.button-relax {
  min-width: 300px;
  min-height: 60px;
  font-family: 'Nunito', sans-serif;
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  font-weight: 700;
  color: #313133;
  background: #4FD1C5;
  background: -webkit-gradient(linear, left top, right top, from(#81e6d9), to(#4fd1c5));
  background: linear-gradient(90deg, #81e6d9 0%, #4fd1c5 100%);
  border: none;
  border-radius: 1000px;
  -webkit-box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
          box-shadow: 12px 12px 24px rgba(79, 209, 197, 0.64);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  cursor: pointer;
  outline: none;
  position: relative;
  padding: 10px;
}

.button-relax::before {
  content: '';
  border-radius: 1000px;
  min-width: calc(300px + 12px);
  min-height: calc(60px + 12px);
  border: 6px solid #00FFCB;
  -webkit-box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
          box-shadow: 0 0 60px rgba(0, 255, 203, 0.64);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  -webkit-transition: all .3s ease-in-out 0s;
  transition: all .3s ease-in-out 0s;
}

.button-relax:hover,
.button-relax:focus {
  color: #313133;
  -webkit-transform: translateY(-6px);
          transform: translateY(-6px);
}

.button-relax:hover::before,
.button-relax:focus::before {
  opacity: 1;
}

.button-relax::after {
  content: '';
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 6px solid #00FFCB;
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-animation: ring 1.5s infinite;
          animation: ring 1.5s infinite;
}

.button-relax:hover::after,
.button-relax:focus::after {
  -webkit-animation: none;
          animation: none;
  display: none;
}

@-webkit-keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

@keyframes ring {
  0% {
    width: 30px;
    height: 30px;
    opacity: 1;
  }
  100% {
    width: 300px;
    height: 300px;
    opacity: 0;
  }
}

.lock {
  overflow: hidden;
}

.hidden {
  display: none;
}

.relax-section {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 4px 24px rgba(0, 0, 0, 0.19);
}

.relax-section.hidden {
  display: none;
}

.relax-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  background-image: url("./assets/img/bg-sea.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #adcaff;
}

.cover {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(79, 103, 100, 0.5);
  z-index: 5;
}

.close-icon {
  position: absolute;
  right: 80px;
  top: 80px;
  width: 45px;
  height: 45px;
  fill: #a7957e;
  z-index: 10;
}

.close-icon:hover {
  cursor: pointer;
  fill: #463f36;
}

.relax-title {
  width: 55%;
  color: #2815a5;
  font-size: 60px;
  text-shadow: 4px 4px 3px rgba(41, 105, 105, 0.8);
  margin-bottom: 2rem;
}

.try-again {
  width: 190px;
  height: 40px;
  color: #d43131;
  font-size: 22px;
  font-weight: bold;
}

.timer {
  height: 50px;
  font-weight: bold;
  color: #07193c;
  font-size: 50px;
  margin-bottom: 2rem;
}

.note {
  width: 320px;
  font-size: 24px;
  color: #07193c;
}

@media (max-width: 768px) {
  .time {
    min-height: 80px;
    font-size: 72px;
  }
  .greeting-container {
    min-height: 40px;
    font-size: 32px;
  }
  .greeting {
    padding: 5px;
  }
  .name {
    font-size: 32px;
    padding: 5px;
  }
}
/*# sourceMappingURL=style.css.map */